.open-sans-ok {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px ;
}
.nav-title{
  font-size: 45px;  
  font-weight: 800;
}
.text-primary{
   color: #FD6E0A;
}
nav ul li{
    list-style: none;
    margin-right:  51px;
}
nav li a{
    text-decoration: none;
}
.dark-2{
    color: #474747;
}
nav ul{
    display: flex; 
    align-items: center;  
}
.btn{
    background-color: #FD6E0A;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
}
.B-wel{
    font-size: 45px;
    font-weight: 600;
}
.B-title{
    font-weight: bold;
    font-size: 85px;
}
.bananr-des{
    font-size: 18px;
}
.pic{
    width: 580px;
}
.banar{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}
.head{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    
}
.banar-content{
    max-width: 580px;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-dec{
    font-size: 18px;
    color: #757575;
}
.secend-bg{
      background-color: #FFF8F3;
}
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 130px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
    
}
main section{
    
}
.items-discripation{
    font-weight: 600px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-litle{
    color: #757575;
}
.new-section{
    border: solid 1px ;
    background-color: white;
}
.text-center{
    text-align: center;
}
.skil-container{
    display: flex;
    gap: 24px;
}
.skills{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.section-skill{
    padding-bottom: 130px;
}
.resume-contanir{
    display: flex;
    gap: 25px;
    padding: 60px;
}
.exprience-description, .exprience-sub_title {
    color: #757575;
}

.exprience-sub_title{
    font-size: 20px;
    font-weight: 600px;
    margin-bottom: 20px;
}
.resume hr{
    margin: 30px 5px;
}
.exprience-title{
    font-size: 20px ;
    color: #757575;
}
.resume-column-title{
    font-size: 25px;
    color: #757575;
}
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-column{
    width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}
.footer-title{
    font-size: 30px;
}